<div id=":n2" class="a3s aiL ">
    <div class="adM">
    </div>
    <div style="width:35rem;margin-left:auto;margin-right:auto">
        <div class="adM">
        </div>
        <div style="border:none;border-bottom:solid 1px #d0d0d0;text-align:center">
            <div class="adM">
            </div>
            <img src="https://ci3.googleusercontent.com/meips/ADKq_NaPJl4R98THMbMrfeUWIMmNywIO9UHJqVuSq8gzlCMWv4hfMfXccjWJ3bhaa8GygDHJKQu0qK3DQLgi_aClpBRebI41hjJrXCos68mLlPNbcC3SmemBA0Rb8JwmGWutZPk=s0-d-e1-ft#https://fra1.digitaloceanspaces.com/botcommerce/static/images/logo_mini.png"
                 style="margin-bottom:1rem;text-align:center;width:5rem;margin-left:auto;margin-right:auto"
                 class="CToWUd" data-bit="iit">
        </div>
        <div>
            <h1>Добро пожаловать в Botcommerce. ({{ user.first_name }})</h1>
            <p>Чтобы начать использовать, пожалуйста, подтвердите свой адрес электронной почты, нажав на кнопку
                ниже.</p><br>

            <div style="text-align:center">
                <a href="{{ activation_link }}"
                   style="background:#3273dc;color:#fff;text-decoration:none;margin-top:10rem;padding:0.8rem 3rem;border-radius:0.5rem;display:inline"
                   target="_blank"
                   data-saferedirecturl="https://www.google.com/url?q={{ activation_link }}&amp;source=gmail&amp;ust=1728990088158000&amp;usg=AOvVaw11uxwT1d2SPB_cFGf4CMTl">
                    Подтвердить
                </a>
                <br>
                <br>
                Если не работает кнопка, перейдите по этой ссылке <a
                    href="{{ activation_link }}" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q={{ activation_link }}&amp;source=gmail&amp;ust=1728990088158000&amp;usg=AOvVaw11uxwT1d2SPB_cFGf4CMTl">
                {{ activation_link }}
            </a>
            </div>
        </div>

        <div style="margin-top:3rem">
            <div style="color:#636363;text-align:center">
                Made by <a href="#m_8731439118100351245_">Botcommerce</a> team.<br>
                All rights reserved
            </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>